@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.btn{
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-blue{
    background-color: #2D72CD;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
/* Header styles */

.header{
    padding: 32px 0 22px;
    border-bottom: 1px solid #AEB6BB;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    display: flex;
    align-items: center;
}
.header-logo-img{
    margin-right: 10px;
    display: block;
}
.header-logo-text{
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    display: block;
}

.header-btn .btn-blue{
    width: 246px;
    height: 48px;
}
.header-phone-number{
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 4px;
}
.header-phone-text{
    font-size: 16px;
    line-height: 19px;
    color: #5284F7;
    position: relative;
}
.header-phone-text img{
    position: absolute;
    left: -22px;
    top: 2px;
}
.header-phone-text span{
    border-bottom: 1px dashed;
}

/* Main Section Styles */

.main{
    padding: 165px 0 185px;
    position: relative;
    border-bottom: 1px solid #AEB6BB;
}
.heading{
    font-weight: 600;
    font-size: 37px;
    line-height: 56px;
    color: #213252;
    margin-bottom: 48px;
}
.sub-heading{
    margin-bottom: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #213252;
    display: block;
}
.main .btn-blue{
    width: 400px;
    height: 69px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.main-offer-bg{
    position: absolute;
    bottom: 52px;
    right: -230px;
}
.main-offer-text{
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.main .container{
    position: relative;
}
.main-offer{
    width: 296px;
    height: 98px;
    position: absolute;
    right: -95px;
    padding: 6px 7px;
    display: block;
    background: #E28519;
    border-radius: 8px;
    z-index: 3;
    padding: 8px;
}

.main-offer-content{
    padding: 17px;
    border: 1px dashed #FFFFFF;
    border-radius: 8px;
}
.main-offer-img{
    position: absolute;
    right: 24px;
    top: 28px;
    z-index: -1;
}

.main-offer-text div{
    padding-left: 50px;
}

/* Products Block Styles */

.products{
    padding: 105px 0 125px;
}
.heading-lg{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #213252;
    display: block;
}
.products .heading-lg{
    margin-bottom: 10px;
}
.products .sub-heading{
    font-size: 24px;
    color: #213252;
    line-height: 36px;
    display: block;
    margin-bottom: 56px;
}
.products-tabs-text{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #213252;
    display: block;
    margin-bottom: 33px;
}
.tab-links{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.tablink{
    min-height: 133px;
    border: 1px solid #D3DFE7;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    min-width: 206px;
    border-right: none;
    padding-top: 20px;
    border-bottom: none;
}
.tablink:last-of-type{
    border-right: 1px solid #D3DFE7;
}
.tablink-icon{
    display: block;
    margin: 0 auto 18px;
}
.tablink-text{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #606774;
    display: block;
    max-width: 118px;
}
.tablink.active, #defaultOpen{
    background-color: #EDF1F4;
    border-color: #AEB6BB;
    border-right: 1px solid #AEB6BB;
}
.tablink.active .tablink-text, #defaultOpen.tablink-text{
    color: #213252;
}
.tab-contents-img{
    border: 1px solid #AEB6BB;
    border-top: none;
}
.tab-contents-text{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #213252;
    display: block;
    margin-bottom: 18px;
}
.tab-contents-info{
    padding-left: 65px;
}
.tabcontent-inner{
    display: flex;
    align-items: center;
}
.tab-list{
    padding-left: 0;
    margin-bottom: 205px;
}
.tab-list-item{
    list-style-type: none;
    font-size: 16px;
    line-height: 28px;
    color: #213252;
    padding-left: 22px;
    position: relative;
}
.tab-list-item::before{
    position: absolute;
    left: 10px;
    content: '';
    background: #213252;
    border-radius: 50%;
    top: calc(50% - 2px);
    height: 4px;
    width: 4px;
}
.tab-contents .btn-blue{
    height: 48px;
    width: 245px;
}
.tabcontent-inner{
    border-bottom: 1px solid #AEB6BB;
    width: calc(100% - 4px);
    border-right: 1px solid #AEB6BB;
    border-top: 1px solid #AEB6BB;
}
/* Offer Block Styles*/

.offer-wrapper{
    border-radius: 16px;
    background-image: url(../img/offer-bg.png);
    background-position: center;
    background-size: cover;
    min-height: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer-text{
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
    display: block;
}
/* Lead Form Styles */

.lead{
    background-color: #1A2C41;
}
.lead .container{
    position: relative;
    padding: 75px 0;
}
.lead-img{
    position: absolute;
    bottom: -4px;
    z-index: 10;
    right: 0;
}
.heading-lg.white{
    color: #fff;
    margin-bottom: 34px;
}
.form-label{
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 10px;
}

.form-item{
    width: 298px;
}
.form-input{
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #CDD6DB;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    height: 57px;
    width: 100%;
}
.form-input input{
    height: 100%;
    width: 100%;
    outline: none;
}
.form-input::placeholder{
    color: #65677C;
}
.form-inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.form-inner:last-of-type{
    margin-bottom: 8px;
}
.lead-wrap{
    width: 608px;
}
.form-info{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    display: block;
}
.form-btn{
    width: 400px;
    height: 61px;
    margin-bottom: 8px;
    display: block;
}
.form-warning{
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
}
.lead-inner{
    display: flex;
}

/* Store Block Styles */
.store{
    padding: 160px 0 180px;
}
.store-heading{
    margin-bottom: 24px;
}
.store .sub-heading{
    margin-bottom: 60px;
}
.store-item{
    display: flex;
    align-items: center;
}
.store-item-text{
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #213252;
}
.store-item-text b{
    font-weight: 600;
}
.store-item-img{
    margin-right: 40px;
}
.store-item{
    
    margin-bottom: 24px;
}
.store-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.store-img-info{
    position: absolute;
    background-color: #211D1D;
    padding: 17px 50px;
    bottom: 0;
    left: 0;
    width: 100%;
}
.store-img-info p{
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.store-img{
    position: relative;
}
.logistics{
    padding: 160px 0 0;
}