/* Import Шрифтов */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@font-face {
    font-family: 'SF-Pro-Display', sans-serif;
    src: url(../fonts/SF-Pro-Display-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'SF-Pro-Display', sans-serif;
    src: url(../fonts/SF-Pro-Display-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'SF-Pro-Display', sans-serif;
    src: url(../fonts/SF-Pro-Display-Semibold.otf);
    font-weight: 600;
}




/* Переменные Colors */

$white: #FFFFFF;
$lightgrey: #F2F2F2;
$pink: #A642C5;
$purple: #6B3DED;
$white50: rgba(255, 255, 255, 0.5);
$purple20: rgba(107, 61, 237, 0.2);
$pink20: rgba(166, 66, 197, 0.2);

/* Общие стили страниц */

*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

body {
    background: linear-gradient(180deg, #120728 0%, #0E0729 100%);
    background-repeat: no-repeat;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

h1,
.heading {
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: $lightgrey;
}

h2,
.sub-heading {
    color: $white;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
}

.btn-reverse {
    border-radius: 20px;
    color: $white;
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;
    padding: 2px;
    display: flex;
    align-items: center;
    position: relative;
    $border: 2px;
    background: #0E0728;
    background-clip: padding-box;
    border: solid $border transparent;
    justify-content: center;

    &-text {
        height: 100%;
        width: 100%;
        background: transparent;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
    }

    &:hover {
        background-color: transparent;
    }
}

.btn-gradient {
    border-radius: 20px;
    color: $white;
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;
    background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);

    &:hover {
        background: linear-gradient(-90deg, #693CEE -36.17%, #A742C4 140.43%);
        transition: 0.3s;
    }
}

.show-sm {
    display: none;
}

input[type='date'],
input[type='time'] {
    -webkit-appearance: none;
}


.paragraph {
    color: $white50;
    font-size: 18px;
    line-height: 167%;
}

.blur-circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
    opacity: 0.2;
    filter: blur(140px);
    z-index: 5;
    height: 556px;
    width: 556px;
}

/* Стили блока Header */

.header {
    padding: 38px 0 38px;
    position: relative;

    .blur-circle {
        top: -131px;
        right: -72px;
        z-index: 10;
    }

    .container {
        width: 1312px;
        position: relative;
    }

    &-logo {
        font-weight: 600;
        font-size: 22px;
        line-height: 136%;
        color: $white;
    }
}


/* Стили Footer */

.footer {
    padding: 42px 0 60px;

    .container {
        width: 1312px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-text,
    &-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        color: $white50;
        display: block;
    }
}

/* Стили страницы "Home" */

/* Стили блока Main */

.main {
    padding: 193px 0 115px;
    text-align: center;

    .heading {
        margin-bottom: 30px;
    }
}

/* Стили блока Compatible (Совместимость) */

.compatible {
    .container {
        position: relative;
    }

    .blur-circle {
        left: -200px;
        top: -205px;
        z-index: -5;
    }

    &-btn {
        text-align: center;

        .btn {
            padding: 15px 50px;
            width: 324px;
            height: 56px;
        }
    }

    padding-bottom: 52px;

    .sub-heading {
        margin-bottom: 75px;
    }

    &-title {
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        display: block;
        color: $white;
        text-align: center;
    }

    &-data {
        border-radius: 50px;
        padding: 40px 32px 32px;
        max-width: 50%;
        width: 50%;

        &.purple {
            background: $purple20;
        }

        &.pink {
            background: $pink20;
        }
    }

    &-gender {
        margin-left: auto;
        margin-right: auto;
        width: 230px;
        margin-bottom: 32px;
        display: flex;
        background: rgba(196, 196, 196, 0.1);
        border-radius: 50px;
        height: 56px;
    }
}

.gender-toggle {
    cursor: pointer;
    color: $white50;
    font-size: 16px;
    height: 52px;
    line-height: 150%;
    border-radius: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    height: 100%;

    &.active.man {
        background-color: $purple;
        color: $white;
        border: 2px solid rgba(107, 61, 237, 0.4);
    }

    &.active.woman {
        background-color: $pink;
        color: $white;
        border: 2px solid rgba(166, 66, 197, 0.4);
    }
}

.form-item {
    margin-bottom: 32px;

    &-title {
        margin-bottom: 16px;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $white;
    }

    &-data {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &.full-width {
        .form-item-data {
            display: block;
        }
    }
}

.btn-reset {
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    text-align: center;
    display: block;
    width: 100%;
}

.compatible-data-wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 32px;

    .compatible-data {
        margin-right: 30px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

/* Кастомные стили для select, checkbox */

select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    background-image: none;
    cursor: pointer;
    padding: 16px 15px 16px 18px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $white;
}

select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select-wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 56px;
    overflow: hidden;
    margin-right: 20px;

    &:last-of-type {
        margin-right: 0;
    }

    &.short {
        min-width: 130px;
        max-width: 130px;
    }
}

.select-wrap::after {
    content: '';
    position: absolute;
    background-image: url(../img/icons/select.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 9px;
    width: 18px;
    right: 14px;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 0px;
    transition: .25s all ease;
    pointer-events: none;
    z-index: 10;
}

.birth-time.disabled {
    &::after {
        opacity: 0.5;
    }
}

.select-wrap.open {
    transform: translateY(-50%) rotate(-180deg);
}

.form-checkbox {
    display: block;
    position: relative;
    padding-left: 38px;
    cursor: pointer;
    font-size: 16px;
    line-height: 150%;
    color: $white50;
    user-select: none;

    &-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        border-radius: 6px;
        background-color: transparent;
        border: 2px solid $white50;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    &-input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/icons/check-mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 11px;
        height: 8px;
    }

    &.checked {
        color: $white;

        .checkmark {
            border-color: $white;
        }
    }
}

.form-item-input {
    height: 56px;
    width: 100%;
    padding: 16px 15px 16px 18px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $white;
    position: relative;
    border: none;
    outline: none;
}

/* Стили выпадающего списка с выбором города */

.select-city {
    position: relative;

    &-wrap {
        padding: 16px 15px 16px 18px;
        position: absolute;
        width: 100%;
        border-radius: 16px;
        z-index: 10;
        margin-top: 10px;
        max-height: 174px;
        overflow-y: scroll;
        display: none;
        opacity: 0;

        &.shown {
            display: block;
            opacity: 1;
        }
    }
}

.city-list {
    padding-left: 0;

    &-item {
        list-style-type: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $white50;
        margin-bottom: 14px;

        &:hover,
        &.active {
            color: $white;
            transition: 0.3s;
            cursor: pointer;
        }
    }
}

.compatible-data.purple .select-city-wrap {
    background: #382A60;
}

.compatible-data.pink .select-city-wrap {
    background: #432B5A;
}

/* Стили блока Service Info (Информация о сервисе) */

.service-info {
    padding: 52px 0 42px;

    &-title {
        display: block;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: $white50;
        margin-bottom: 25px;
    }

    &-text {
        color: $white50;
        font-weight: 400;
        font-size: 16px;
        line-height: 138%;
        margin-bottom: 30px;

    }

    &-subtitle {
        color: $white50;
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        display: block;
        margin-bottom: 25px;
    }
}


/* Стили страницы Result */

/* Стили блока "Ваш общий коэфициент совместимости" */
.result {
    padding-top: 105px;

    .container {
        width: 1010px;
    }

    .sub-heading {
        margin-bottom: 75px;
    }

    &-partner {
        margin-bottom: 75px;
        display: flex;
        position: relative;

        &-wrap {
            padding: 24px 30px;
            width: 50%;

            &:first-of-type {
                border-radius: 24px 0px 0px 24px;
            }

            &:last-of-type {
                border-radius: 0px 24px 24px 0px;
                text-align: right;

                .partner-main-data {
                    justify-content: flex-end;
                }
            }

            &.purple-theme {
                background-color: rgba(107, 61, 237, 0.2);
            }

            &.pink-theme {
                background-color: rgba(166, 66, 197, 0.2);
            }
        }
    }

    &-score-info {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        padding: 20px 21px;

        &-text {
            font-size: 16px;
            line-height: 138%;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

.partner-gender {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    &-icon {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 24px;
        height: 24px;
    }

    &.man-gender {
        .partner-gender-icon {
            background-image: url(../img/icons/man.svg);
        }
    }

    &.woman-gender {
        .partner-gender-icon {
            background-image: url(../img/icons/woman.svg);
        }
    }
}

.partner-main-data {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.partner-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: $white;
}

.partner-data {
    &-item {
        margin-bottom: 6px;
    }

    &-type {
        font-size: 16px;
        line-height: 138%;
        color: $white50;
    }

    &-personal {
        font-size: 16px;
        line-height: 138%;
        color: $white;
    }
}

.user-score {
    background-color: #120728;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    min-width: 220px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #120728 0%, #0E0729 100%);

    &-content {
        border-radius: 50%;
        position: absolute;
        width: 167px;
        height: 167px;
        background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-name {
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: $white;
        display: block;
        text-align: center;
    }

    &-number {
        font-weight: 700;
        font-size: 46px;
        line-height: 130%;
        color: $white;
        display: block;
        text-align: center;
    }
}

/* Табы количество баллов */

.tabs {
    margin-bottom: 65px;
    display: flex;

    &-btn {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        height: 66px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        font-weight: 600;
        font-size: 18px;
        line-height: 144%;
        color: $white;
        transition: background 0.5s;

        &:hover {
            background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
            transition: background 0.5s;
        }

        &-wrap {
            width: 326px;
            min-width: 326px;
            margin-right: 47px;
        }

        &.active {
            background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
        }
    }

    &-content {
        display: none;
        max-width: 624px;

        &.active {
            display: block;
        }

        &-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 144%;
            color: $white;
            margin-bottom: 16px;
            display: block;
        }

        &-description {
            font-size: 16px;
            line-height: 138%;
            color: $white50;
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

/* Стили блока с графиком */

.chart {
    padding: 100px 0 75px;

    .container {
        position: relative;
    }

    &-slider {
        position: relative;
    }

    &-slider-btn {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        height: 46px;
        width: 46px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        margin-right: 17px;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
            transition: 0.4s;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    &-slider-btns {
        align-items: center;
        display: flex;
        position: absolute;
        right: 0;
        top: -40px;
        transform: translateY(-50%);
    }

    &-slider-item {
        display: none;
    }

    &-wrap {
        display: flex;
        margin-bottom: 75px;
    }

    &-popup {
        display: none;
        opacity: 0;
        left: 0;
        background: #29203E;
        border-radius: 12px;
        padding: 10px 11px;
        position: absolute;
        min-width: 165px;
        z-index: 5;
        top: -52px;
        transform: translateY(-50%);

        &-number {
            color: $white;
            font-weight: 600;
            font-size: 16px;
            line-height: 162%;
            display: block;
        }

        &-text {
            color: $white50;
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
        }

        .arrow-down {
            width: 0;
            height: 0;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-top: 14px solid #29203E;
            position: absolute;
            bottom: -10px;
            left: 17px;
        }
    }

    &-title {
        margin-bottom: 45px;
        color: $white;
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        display: block;
        text-align: center;
    }

    &-data {
        width: 785px;
        min-width: 785px;
        height: 382px;
        position: relative;
        margin-right: 86px;
    }

    &-lines {
        position: absolute;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        left: 0;
        height: 300px;
        z-index: -1;
    }

    &-line {
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
    }

    &-levels {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        bottom: 50px;
        position: absolute;
        width: 100%;
    }

    &-level {
        width: 47px;
        background: #38304B;
        border-radius: 12px;
        position: relative;

        &.active {
            background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);

            .chart-level-number,
            .chart-level-points {
                color: $white;
            }
        }

        &-number {
            position: absolute;
            bottom: -22px;
            display: block;
            text-align: center;
            width: 100%;
            transform: translateY(50%);
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #615974;
        }

        &-points {
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: rgba(255, 255, 255, 0.4);
            display: block;
            padding-top: 14px;
        }

        &.l1 {
            height: 270px;
        }

        &.l2 {
            height: 132px;
        }

        &.l3 {
            height: 270px;
        }

        &.l4 {
            height: 198px;
        }

        &.l5 {
            height: 79px;
        }

        &.l6 {
            height: 85px;
        }

        &.l7 {
            height: 157px;
        }

        &.l8 {
            height: 224px;
        }

        &.l9 {
            height: 98px;
        }

        &.l10 {
            height: 123px;
        }

        &.l11 {
            height: 186px;
        }

        &.l12 {
            height: 89px;
        }
    }

    .blur-circle {
        top: -175px;
        left: -190px;
        transform: translateX(-50%);
    }
}

.prev {
    background-image: url(../img/icons/arrow-left.svg);
}

.next {
    background-image: url(../img/icons/arrow-right.svg);
}

.level {
    &-info {
        border-radius: 24px;
        background: #28203D;
        padding: 20px 24px;
        position: relative;

        &-number {
            background: #28203D;
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            color: $white;
            border-radius: 50%;
        }

        &-number-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 64px;
            width: 64px;
            border-radius: 50%;
            background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
            margin-bottom: 20px;
        }

        &-lvl {
            top: 39px;
            right: 24px;
            font-size: 18px;
            line-height: 144%;
            color: $white;
            position: absolute;
        }

        &-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 144%;
            color: $white;
            margin-bottom: 12px;
            display: block;
        }

        &-text {
            color: $white50;
            font-size: 16px;
            line-height: 138%;
            margin-bottom: 14px;
        }
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.btn-white {
    height: 48px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 12px;
    color: $white;
    font-weight: 600;
    font-size: 16px;
    line-height: 38%;
    width: 100%;

    &:hover {
        background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
        transition: 0.3s;
    }
}

.chart-level:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
    transition: 0.5s;

    .chart-level-points,
    .chart-level-number {
        color: $white;
        transition: 0.3s;
    }
}

.chart-level:hover .chart-popup {
    display: block;
    opacity: 1;
}

.page_slider.chart-slider-item {
    display: none;

    &.shown {
        display: block;
    }
}

.chart-slider-item.popup_slider {
    display: none;

    &.shown {
        display: block;
    }
}


.chart-levels-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 103px;

    .level-info {
        width: 288px;
        margin-bottom: 16px;
    }
}

.action-btns {
    display: flex;
    align-items: stretch;
    justify-content: center;

    .btn {
        width: 325px;
        height: 56px;
        font-weight: 600;
        font-size: 18px;
        line-height: 144%;
        color: $white;
        margin-right: 24px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.btn-share {
    position: relative;

    &::before {
        background-image: url(../img/icons/share.svg);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}


/* Popup Window */
.popup {
    background: linear-gradient(180deg, rgba(18, 7, 40, 0.8) 0%, rgba(14, 7, 41, 0.8) 100%);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    &-wrap {
        background: #28203E;
        border-radius: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 60px;
        height: 700px;
        width: 675px;
        position: relative;
    }

    &-content {
        max-height: 100%;
        overflow-y: scroll;

    }

    &-close {
        height: 32px;
        width: 32px;
        background-image: url(../img/icons/close.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        background-color: transparent;
        position: absolute;
        right: -17px;
        top: 0;
        transform: translateX(100%);

        &:hover {
            opacity: 0.5;
            transition: 0.4s;
        }
    }

    &-slider {
        .level-info {
            background: none;
            border-radius: 0;
            padding: 0;
        }

        .level-info-title {
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
            margin-bottom: 19px;
        }

        .level-info-text {
            font-size: 16px;
            line-height: 138%;
        }

        .level-info-rec-title {
            color: $white;
            font-weight: 600;
            font-size: 18px;
            line-height: 144%;
            margin-bottom: 16px;
            display: block;
        }

        .chart-slider-btns {
            transform: none;
            right: 0px;
            top: 0px;
            z-index: 10;
        }

        .level-info-lvl {
            position: inherit;
            top: inherit;
            right: inherit;
            margin-bottom: 10px;
        }

        .level-info-data {
            display: inline-flex;
            align-items: center;
        }

        .level-info-number-wrap {
            margin-right: 30px;
        }
    }
}

.calendar-wrap {
    position: relative;
}

.calendar {
    display: none;
    z-index: 5;
    position: absolute;
    width: calc(100% + 32px);
    padding: 8px 16px 0;
    left: -16px;
    bottom: -10px;
    transform: translateY(100%);
    border-radius: 16px;
    font-family: 'SF-Pro-Display', sans-serif;

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-month {
        height: 32px;
        padding: 4px 12px;
        padding-right: 26px;
        background: #423166;
        border-radius: 6px;

        &-name {
            color: $white;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
        }

        position: relative;

        &::after {
            background-image: url(../img/icons/month-chevron.svg);
            height: 12px;
            width: 7px;
            content: '';
            position: absolute;
            right: 12px;
            top: 10.6px;
        }
    }

    &-nav {
        display: flex;
        align-items: center;

        &-btn {
            background-image: url(../img/icons/chevron.svg);
            height: 17px;
            width: 10px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;

            &.prev {
                margin-right: 31px;
            }

            &.next {
                transform: rotate(-180deg);
            }
        }
    }

    &-week {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        &-day {
            display: block;
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.078px;
            color: rgba(255, 255, 255, 0.3);
            text-transform: uppercase;
            width: 36px;
        }
    }

    &-days {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &-item {
            text-align: center;
            height: 36px;
            width: 36px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: $white;
            margin-bottom: 8px;

            &.active {
                background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
                border-radius: 50%;
            }
        }
    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 14px;

        &-btn {
            background-color: transparent;
            color: $white;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-dates {
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.ui-datepicker-prev.ui-corner-all,
.ui-datepicker-next.ui-corner-all {
    background-image: url(../img/icons/chevron.svg);
    height: 17px;
    width: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 16px;
    top: 16px;

}

.ui-datepicker-prev.ui-corner-all {
    margin-right: 31px;
}

.ui-datepicker-next.ui-corner-all {
    transform: rotate(-180deg);
}

.ui-icon.ui-icon-circle-triangle-w,
.ui-icon.ui-icon-circle-triangle-e {
    display: none;
}

.ui-datepicker-title {
    height: 32px;
    padding: 4px 12px;
    padding-right: 26px;
    background: #423166;
    border-radius: 6px;
    position: relative;
    display: inline-flex;

    &::after {
        background-image: url(../img/icons/month-chevron.svg);
        height: 12px;
        width: 7px;
        content: '';
        position: absolute;
        right: 12px;
        top: 10.6px;
    }
}

.ui-datepicker-month,
.ui-datepicker-year {
    color: $white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.ui-datepicker-calendar {
    padding-top: 10px;
}
#ui-datepicker-div,
.ui-datepicker.ui-widget.ui-widget-content {
    border-radius: 16px;
    font-family: 'SF-Pro-Display', sans-serif;
    background-color: #2C1E4A;
    max-width: 100% !important;
    width: calc(90% - 32px) !important;
    z-index: 20 !important;
    padding: 8px 16px 0;
    margin-top: 10px;
    
}
.ui-datepicker-calendar tbody tr,
.ui-datepicker-calendar thead tr{
    text-align: center;
    width: 100%;
    
}
.ui-datepicker-calendar thead th span{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.078px;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    width: 36px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.ui-datepicker-calendar tbody .ui-state-default{
    text-align: center;
    height: 36px;
    width: 36px;
    padding: 6px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $white;
    padding: 6px;
}
.ui-state-hover,
.ui-state-highlight.ui-state-active{
    background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
    border-radius: 50%;
}
.ui-datepicker-calendar tbody tr{
    padding: 10px 0;
    height: 36px;
}




.compatible-data {
    &.purple {
        .calendar {
            background: #2C1E4A;
        }
    }

    &.pink {
        .calendar {
            background: #2D1346;
        }
    }
}

.show-sm {
    display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    text-align: -webkit-left;
}

.level-info.active {
    position: relative;
    $border: 2px;
    background-clip: padding-box;
    border: $border solid transparent;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
    }
}

/* Media Queries */

input::-webkit-date-and-time-value {
    text-align: left!important;
}
.ui-datepicker-buttonpane{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    
}
.ui-datepicker-buttonpane button{
    color: $white;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border: none;
    background: none;
    background: transparent;
}
@media screen and (max-width: 1500px) {

    .result .container,
    .header .container,
    .container,
    .footer .container {
        width: 90%;
    }

    .paragraph,
    .heading,
    h1 {
        br {
            display: none;
        }
    }
}

@media screen and (max-width: 1050px) {

    .header .container,
    .container,
    .footer .container,
    .result .container {
        width: 100%;
    }

    .page-wrap {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
        overflow-x: hidden;
    }

    .compatible-data-wrap .compatible-data {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .compatible-data-wrap .compatible-data {
        margin-right: 0;
        margin-bottom: 22px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .compatible-data-wrap {
        display: block;
    }

    .compatible-data {
        width: 100%;
        max-width: 100%;
    }

    .header {
        padding: 34px 0;
    }

    .main {
        padding-top: 28px;
        padding-bottom: 42px;
    }

    .heading {
        font-size: 28px;
        text-align: left;
    }

    .hide-sm {
        display: none;
    }

    .show-sm {
        display: block;
    }

    .main .paragraph {
        text-align: left;
    }

    .compatible-data {
        border-radius: 16px;
        padding: 33px 16px;
    }

    .compatible-title {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .service-info-title {
        font-size: 26px;
    }

    .footer .container {
        display: block;
    }

    .service-info-text:last-of-type {
        margin-bottom: 0;
    }

    .service-info {
        padding-bottom: 0;
    }

    .compatible-gender {
        height: 48px;
        margin-bottom: 26px;
    }

    .main .paragraph {
        margin-bottom: 30px;
    }

    .input-birth-date {
        position: relative;

        .btn-open-calendar {
            background-image: url(../img/icons/calendar.svg);
            width: 24px;
            height: 24px;
            top: 16px;
            right: 16px;
            background-color: transparent;
            position: absolute;
        }
    }

    .input-birth-time {
        position: relative;
        margin-bottom: 16px;

        .btn-choose-time {
            background-image: url(../img/icons/clock.svg);
            width: 24px;
            height: 24px;
            top: 16px;
            right: 16px;
            content: '';
            position: absolute;
            z-index: 4;

            background-color: transparent;
        }
    }

    .form-item {
        margin-bottom: 24px;
    }

    .form-item-title {
        font-size: 18px;
    }

    .btn-gradient,
    .btn-white {
        border-radius: 12px;
    }

    .compatible {
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .service-info {
        padding-top: 20px;
    }

    .footer-text {
        margin-bottom: 12px;
        display: block;
    }

    .input-birth-time,
    .input-birth-date,
    .input-birth-time input,
    .input-birth-date input,
    .form-item-input {
        width: 100%;
        -webkit-min-logical-width: 100%;
        text-align: left;
        justify-content: flex-start;
    }

    .compatible .blur-circle,
    .header .blur-circle {
        z-index: -5;
    }

    .header .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .start-test {
        position: relative;
        text-align: right;

        &-option {
            position: absolute;
            left: 0;
            bottom: 8px;
        }

        .btn {
            border-radius: 12px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            padding: 0 18px;
            display: block;
            height: 38px;
            margin-left: auto;
        }

        &-btn.btn {
            display: block;
            padding-right: 50px;
            position: relative;

            &::after {
                background-image: url(../img/icons/arrow-down.svg);
                content: '';
                position: absolute;
                top: 7px;
                right: 10px;
                width: 24px;
                height: 24px;
                background-position: center;
                background-repeat: no-repeat;
                transform: rotate(-180deg);
            }

            &.open {
                &::after {
                    transform: none;
                }
            }
        }

        .test-links {
            display: none;

            &.shown {
                display: block;
            }
        }

        .test-links {
            padding-top: 8px;
            position: absolute;
            z-index: 5;
            right: 0;

            .btn:first-of-type {
                margin-bottom: 8px;
            }
        }

        .test-here,
        .start-test-btn {
            min-width: 152px;
        }

        .test-app {
            min-width: 193px;
        }
    }

    .result {
        padding-top: 22px;
    }

    .result-partner-wrap.purple-theme,
    .result-partner-wrap.pink-theme {
        border-radius: 24px;
        border-top-left-radius: 0;
    }

    .result-partner-wrap:last-of-type .partner-main-data {
        justify-content: flex-start;
    }

    .partner-data-item {
        text-align: left;
    }

    .result-partner-wrap {
        display: none;
        width: 100%;
        box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.18);

        &.active {
            display: block;
        }

        &.purple-theme {
            background: #1A0C3D;
        }

        &.pink-theme {
            background: #250e3f;
        }
    }

    .tabs {
        display: block;
    }

    .user-score {
        position: relative;
        left: inherit;
        top: inherit;
        transform: none;
        margin-left: auto;
        margin-right: auto;
        width: 158px;
        min-width: 158px;
        height: 158px;
        background: linear-gradient(90deg, rgba(105, 60, 238, 0.2) -36.17%, rgba(167, 66, 196, 0.2) 140.43%);
    }

    .user-score-content {
        height: 139px;
        width: 139px;
    }

    .result-partner {
        margin-bottom: 40px;
    }

    .user-score {
        margin-bottom: 40px;
    }

    .user-score-points {
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        color: $white;
    }

    .result .sub-heading {
        font-size: 24px;
        line-height: 30px;
        text-align: left;
        margin-bottom: 24px;
    }

    .user-score-number {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 6px;
    }

    .user-score-name {
        font-size: 22px;
    }

    .tabs-btn-wrap {
        min-width: inherit;
        width: 100%;
    }

    .tabs-btn {
        height: 48px;
        padding: 13px 18px;
        border-radius: 12px;
        font-size: 16px;
        text-align: left;
        justify-content: flex-start;
    }

    .chart-data {
        min-width: inherit;
        width: 100%;
    }

    .tabs {
        margin-bottom: 24px;
    }

    .result-score-info {
        padding: 16px;
    }

    .result-score-info-text {
        font-size: 15px;
        overflow-wrap: break-word;
    }

    .chart-slider,
    .chart-title {
        display: none;
    }

    .chart-slider.popup-slider {
        display: block;
    }

    .chart-data {
        margin-right: 0;
    }

    .chart-levels-items {
        display: block;

        .level-info {
            width: 100%;

            &-text {
                display: none;
            }
        }
    }

    .tabs-btn-wrap {
        display: none;
    }

    .tabs-btn {
        margin-bottom: 16px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 24px;
            width: 24px;
            top: calc(50% - 12px);
            right: 12px;
            background-image: url(../img/icons/arrow-down.svg);
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(-180deg);
        }

        &.active {
            &::after {
                transform: none;
            }
        }
    }

    .tabs-content {
        display: block;

        &.active {
            .tabs-btn {
                margin-bottom: 0px;
            }

            .tabs-content-title,
            .tabs-content-description {
                display: block;
            }

            .tabs-content-title {
                padding-top: 24px;
            }

            .tabs-content-description {
                padding-bottom: 24px;
            }
        }
    }

    .tabs-content-title,
    .tabs-content-description {
        display: none;
    }

    .chart-level-number {
        font-size: 13px;
    }

    .chart-level-points {
        font-size: 11px;
    }

    .chart-level {
        width: 19px;
        width: -webkit-fill-available;
        margin-right: 9px;
    }

    .chart-lines {
        height: 127px;
    }

    .chart-level {
        border-radius: 4px;

        &.l1 {
            height: 114px;
        }

        &.l2 {
            height: 55px;
        }

        &.l3 {
            height: 114px;
        }

        &.l4 {
            height: 83px;
        }

        &.l5 {
            height: 33px;
        }

        &.l6 {
            height: 36px;
        }

        &.l7 {
            height: 66px;
        }

        &.l8 {
            height: 94px;
        }

        &.l9 {
            height: 41px;
        }

        &.l10 {
            height: 52px;
        }

        &.l11 {
            height: 78px;
        }

        &.l12 {
            height: 33px;
        }
    }

    .chart {
        padding: 40px 0;
    }

    .chart-data {
        height: 167px;
    }

    .chart-levels {
        bottom: 26px;
    }

    .action-btns {
        display: none;
    }

    .chart-levels-items .btn-recommend {
        display: none;
    }

    .result-partner-wrap {
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 18px;
    }

    .result-partner-tab {
        width: 148px;
        padding: 10px 18px;
        box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.18);
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
        overflow: hidden;
    }

    .result-partner-tab:first-of-type {
        background-color: #1A0C3D;
    }

    .result-partner-tab:nth-of-type(2) {
        background-color: #250E3F;
    }

    .result-partner {
        display: block;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    .result-partners-tabs {
        display: flex;
        align-items: stretch;
    }

    .partner-zodiac {
        display: flex;
        align-items: center;
    }

    .zodiac-icon {
        height: 16px;
        width: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 8px;

        &.gemini {
            background-image: url(../img/icons/gemini.svg);
        }
    }

    .zodiac-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $white;
    }

    .partner-name {
        margin-bottom: 7px;
    }

    .blur-circle {
        width: 314px;
        height: 314px;
        background: linear-gradient(90deg, #693CEE -36.17%, #A742C4 140.43%);
        opacity: 0.2;
        filter: blur(140px);
    }

    .header {
        .blur-circle {
            top: -63px;
            right: -96px;
        }
    }

    body {
        overflow-x: hidden;
    }

    .footer .show-sm.btn-share {
        width: 100%;
        border-radius: 12px;
        height: 48px;
        font-size: 16px;
    }

    .footer-link {
        margin-bottom: 48px;
    }

    .chart {
        padding-bottom: 0;
    }

    .chart-levels-items .level-info:last-of-type {
        margin-bottom: 0;
    }

    .chart-levels-items {
        margin-bottom: 75px;
    }

    .compatible .blur-circle {
        z-index: -5;
    }

    .popup-wrap {
        width: calc(100% - 48px);
        height: auto;
    }

    .level-info-number-wrap {
        height: 58px;
        width: 58px;
    }

    .level-info-number {
        height: 54px;
        width: 54px;
        font-size: 18px;
    }

    .popup-slider .level-info-number-wrap {
        margin-right: 16px;
    }

    .popup-wrap {
        padding: 20px 24px;
    }

    .popup-close {
        right: 0px;
        top: -10px;
        transform: none;
        transform: translateY(-100%);
    }

    .popup-wrap {
        transform: none;
        top: inherit;
        left: 50%;
        transform: translateX(-50%);
        max-height: calc(100vh - 200px);
        top: 100px;
    }

    .popup-content {
        max-height: calc(100vh - 250px);
    }
}

@media screen and (max-width: 400px) {
    .chart-level {
        width: 19px;
        margin-right: 0;
    }
}

@media screen and (max-width: 350px) {
    .calendar-days-item {
        font-size: 14px;
        width: 30px;
        height: 30px;
    }

    .start-test .start-test-btn,
    .start-test .test-here {
        min-width: inherit;
    }

    .start-test .btn {
        font-size: 12px;
    }

    .header-logo {
        font-size: 18px;
    }

    .partner-data-type,
    .partner-data-personal {
        font-size: 13px;
    }

    .result .sub-heading {
        font-size: 22px;
    }
}